<h2>Example to use Yielding in templates - Sending Params</h2>
<p>BEFORE YIELD</p>
<p>----------------</p>
{{yield (hash 
	paramValue=numberPassedasParam 
	colorString="Red From String"
	numberPassedParam="300"
)}}
<p>----------------</p>
<p>AFTER YIELD</p>