<hr>
<h2>Color Picker Example To illustrate - DATA DOWN - ACTIONS UP EXAMPLE</h2>
<p>An expample of how data-down and component-up works</p>
{{color-picker 
    currentColor='orange' 
    newColor=currentColor
    handleClick='changeColor'
}}
{{outlet}}